{extend name='admin@public/content'}

{block name="content"}
<style>
    .w60{width: 60px!important;}
    .w120{width: 120px!important;}
    .layui-card-body{width: 100%;float:left;}
    .form-horizontal .form-group{margin: 0;margin-top: 15px;width: auto;float: left;}
    .hr-line-dashed{width: 100%;float: left;}
    .control-box{padding-left: 5px;float: left;width: auto;margin-right: 15px;}
    .form-group .control-label{width: auto;float: left;}
    .js_line_box{width: 100%;float: left;}
    .tab_div{border:2px solid #9BC4E8;margin-top: 15px;background: #ddd;}
    .tab_div tr th{height: 70px;line-height: 70px;border: 1px solid #9BC4E8;text-align: center;}
    .tab_div tr td{border: 1px solid #9BC4E8;text-align: center;}
    .tab_div tr td .td_inp{width: 70px;height: 35px;border: none;padding: 0 3px;}
    .tab_div tr td .title{margin-left: 5px;}
    .tab_div tr td .td_inp1{border: 0;width: 120px;height: 35px;padding: 0 3px;}
</style>
<form autocomplete="off" onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='form-horizontal layui-form padding-top-20'>
    <div class="form-group">
        <label class="control-label">所属用户</label>
        <div class='control-box'>
            <select class="layui-select" name="mid">
                {volist name="members" id="member"}
                <option value="{$member.id}" {:isset($vo['mid'])&&$vo['mid']==$member['id']?'selected':''}>{$member.nickname}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">姓名</label>
        <div class='control-box w120'>
            <input autofocus name="name" value='{$vo.name|default=""}' placeholder="请输入姓名" class="layui-input">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">性别</label>
        <div class='control-box w60'>
            <select class="layui-select" name="sex">
                <option {:isset($vo['sex'])&&$vo['sex']=='男'?'selected':''}>男</option>
                <option {:isset($vo['sex'])&&$vo['sex']=='女'?'selected':''}>女</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">生日</label>
        <div class='control-box w120'>
            <input name="birthday" value='{$vo.birthday|default=""}' placeholder="请选择生日" class="layui-input date">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">手机号</label>
        <div class='control-box w120'>
            <input name="mobile" value='{$vo.mobile|default=""}' placeholder="请输入手机号" class="layui-input">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">职业</label>
        <div class='control-box w120'>
            <input name="zhiye" value='{$vo.zhiye|default=""}' placeholder="请输入职业" class="layui-input">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">K.卡</label>
        <div class='control-box'>
            <input name="k_ka" value='{$vo.k_ka|default=""}' placeholder="请输入K.卡" class="layui-input">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">用途</label>
        <div class='control-box'>
            <input name="yongtu" value='{$vo.yongtu|default=""}' placeholder="请输入用途" class="layui-input">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">参数来源</label>
        <div class='control-box'>
            <input name="canshulaiyuan" value='{$vo.canshulaiyuan|default=""}' placeholder="请输入参数来源" class="layui-input">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">验光师</label>
        <div class='control-box'>
            <input name="yanguangshi" value='{$vo.yanguangshi|default=""}' placeholder="请输入验光师" class="layui-input">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">验光日期</label>
        <div class='control-box w120'>
            <input name="test_time" value='{$vo.test_time|default=""}' placeholder="请选择验光日期" class="layui-input date">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">配镜目的</label>
        <div class='control-box'>
            <input name="peijingmudi" value='{$vo.peijingmudi|default=""}' placeholder="请输入配镜目的" class="layui-input">
        </div>
    </div>

    <table class="js_line_box tab_div">
        <tr>
            <th colspan="2" style="width: 60px;">左右</th>
            <th>球镜（SPH）</th>
            <th>柱镜（CYL）</th>
            <th>轴位（AX）</th>
            <th>裸视力（NV）</th>
            <th>矫视力（VA）</th>
            <th>半瞳距（PD/2）</th>
            <th>棱镜（PRISM）</th>
            <th>基底（BASE）</th>
            <th>角膜曲率（KC）</th>
            <th>下加光（ADD）</th>
        </tr>
        <tr>
            <td rowspan="2" style="width: 24px;padding: 0 5px;">验光处方</td>
            <td>右（R）</td>
            <td><input name="yanguangchufang[r][sph]" value="{$vo['yanguangchufang']['r']['sph']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[r][cyl]" value="{$vo['yanguangchufang']['r']['cyl']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[r][ax]" value="{$vo['yanguangchufang']['r']['ax']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[r][nv]" value="{$vo['yanguangchufang']['r']['nv']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[r][va]" value="{$vo['yanguangchufang']['r']['va']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[r][half_pd]" value="{$vo['yanguangchufang']['r']['half_pd']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[r][prism]" value="{$vo['yanguangchufang']['r']['prism']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[r][base]" value="{$vo['yanguangchufang']['r']['base']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[r][kc]" value="{$vo['yanguangchufang']['r']['kc']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[r][add]" value="{$vo['yanguangchufang']['r']['add']|default=''}" class="td_inp" type="text"/></td>
        </tr>
        <tr>
            <td>左（L）</td>
            <td><input name="yanguangchufang[l][sph]" value="{$vo['yanguangchufang']['l']['sph']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[l][cyl]" value="{$vo['yanguangchufang']['l']['cyl']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[l][ax]" value="{$vo['yanguangchufang']['l']['ax']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[l][nv]" value="{$vo['yanguangchufang']['l']['nv']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[l][va]" value="{$vo['yanguangchufang']['l']['va']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[l][half_pd]" value="{$vo['yanguangchufang']['l']['half_pd']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[l][prism]" value="{$vo['yanguangchufang']['l']['prism']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[l][base]" value="{$vo['yanguangchufang']['l']['base']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[l][kc]" value="{$vo['yanguangchufang']['l']['kc']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="yanguangchufang[l][add]" value="{$vo['yanguangchufang']['l']['add']|default=''}" class="td_inp" type="text"/></td>
        </tr>
        <tr>
            <td colspan="12" style="padding: 5px 0;text-align: left;">
                <label class="title">总瞳距：</label>
                <input name="zongtongju" value="{$vo['zongtongju']|default=''}" type="text" class="td_inp1"/>
                <label class="title">建议光心距：</label>
                <input name="jianyiguangxinju" value="{$vo['jianyiguangxinju']|default=''}" type="text" class="td_inp1"/>
                <label class="title">下光瞳距：</label>
                <input name="xiaguangtongju" value="{$vo['xiaguangtongju']|default=''}" type="text" class="td_inp1"/>
                <label class="title">瞳高：</label>
                <input name="tonggao" value="{$vo['tonggao']|default=''}" type="text" class="td_inp1"/>
                <label class="title">复查日期：</label>
                <input type="text" name="review_time" value="{$vo['review_time']|default=''}" class="date td_inp1"/>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width: 24px;padding: 0 5px;">配镜处方</td>
            <td>右（R）</td>
            <td><input name="peijingchufang[r][sph]" value="{$vo['peijingchufang']['r']['sph']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[r][cyl]" value="{$vo['peijingchufang']['r']['cyl']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[r][ax]" value="{$vo['peijingchufang']['r']['ax']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[r][nv]" value="{$vo['peijingchufang']['r']['nv']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[r][va]" value="{$vo['peijingchufang']['r']['va']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[r][half_pd]" value="{$vo['peijingchufang']['r']['half_pd']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[r][prism]" value="{$vo['peijingchufang']['r']['prism']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[r][base]" value="{$vo['peijingchufang']['r']['base']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[r][kc]" value="{$vo['peijingchufang']['r']['kc']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[r][add]" value="{$vo['peijingchufang']['r']['add']|default=''}" class="td_inp" type="text"/></td>
        </tr>
        <tr>
            <td>左（L）</td>
            <td><input name="peijingchufang[l][sph]" value="{$vo['peijingchufang']['l']['sph']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[l][cyl]" value="{$vo['peijingchufang']['l']['cyl']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[l][ax]" value="{$vo['peijingchufang']['l']['ax']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[l][nv]" value="{$vo['peijingchufang']['l']['nv']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[l][va]" value="{$vo['peijingchufang']['l']['va']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[l][half_pd]" value="{$vo['peijingchufang']['l']['half_pd']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[l][prism]" value="{$vo['peijingchufang']['l']['prism']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[l][base]" value="{$vo['peijingchufang']['l']['base']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[l][kc]" value="{$vo['peijingchufang']['l']['kc']|default=''}" class="td_inp" type="text"/></td>
            <td><input name="peijingchufang[l][add]" value="{$vo['peijingchufang']['l']['add']|default=''}" class="td_inp" type="text"/></td>
        </tr>
    </table>
    <div class="hr-line-dashed"></div>

    <div class="col-sm-7 col-sm-offset-2">
        <div class="layui-form-item text-center">
            {if !empty($vo.id)}<input type="hidden" name="id" value="{$vo.id}">{/if}
            <button class="layui-btn" type="submit">保存</button>
            <button class="layui-btn layui-btn-danger" type='button' onclick="window.history.back()">取消</button>
        </div>
    </div>

    <script>
        window.laydate.render({
            elem: 'input[name=birthday]'
        });
        window.laydate.render({
            elem: 'input[name=test_time]'
        });
        window.laydate.render({
            elem: 'input[name=review_time]'
        });
        window.form.render();
    </script>


</form>
{/block}
