{extend name="admin@public/content"}

{block name="content"}
<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='form-horizontal layui-form padding-top-20'>


    <div data-api-type="api">
        <div class="row form-group">
            <label class="col-sm-2 control-label">AppId<br><span class="nowrap color-desc">公众号标识</span></label>
            <div class="col-sm-8">
                <input type="text" name="wechat_appid" title="请输入以wx开头的18位公众号APPID" placeholder="公众号APPID（必填）" pattern="^wx[0-9a-z]{16}$" maxlength="18" required="required" value="{:sysconf('wechat_appid')}" class="layui-input">
                <p class="help-block">公众号应用ID是所有接口必要参数，可以在公众号平台 [ 开发 > 基本配置 ] 页面获取。</p>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-2 control-label">AppSecret<br><span class="nowrap color-desc">公众号密钥</span></label>
            <div class="col-sm-8">
                <input type="text" name="wechat_appsecret" required="required" title="请输入32位公众号AppSecret" placeholder="公众号AppSecret（必填）" value="{:sysconf('wechat_appsecret')}" maxlength="32" pattern="^[0-9a-z]{32}$" class="layui-input">
                <p class="help-block">公众号应用密钥是所有接口必要参数，可以在公众号平台 [ 开发 > 基本配置 ] 页面授权后获取。</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">MchId<br><span class="nowrap color-desc">商户号</span></label>
            <div class='col-sm-8'>
                <input type="text" name="wechat_mch_id" required value="{:sysconf('wechat_mch_id')}" title="请输入商户号" placeholder="商户号（必填）" maxlength="10" class="layui-input">
                <p class="help-block">微信支付商户号</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">MchKey<br><span class="nowrap color-desc">商户密钥</span></label>
            <div class='col-sm-8'>
                <input type="text" name="wechat_partnerkey" required value="{:sysconf('wechat_partnerkey')}" title="请输入32位商户秘钥" placeholder="商户秘钥（必填）" maxlength="32" pattern="^[0-9a-z]{32}$" class="layui-input">
                <p class="help-block">商户秘钥</p>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
    </div>



    <div class="col-sm-6 col-sm-offset-2">
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存配置</button>
        </div>
    </div>

</form>

<!--<script>-->
<!--    $(function () {-->
<!--        updateViwe();-->
<!--        $('[name="wechat_type"]').on('click', updateViwe);-->

<!--        function updateViwe() {-->
<!--            var type = $('[name="wechat_type"]:checked').val();-->
<!--            $('[data-api-type]').not($('[data-api-type="' + type + '"]').removeClass('hide')).addClass('hide');-->
<!--        }-->
<!--    });-->
<!--</script>-->

{/block}
