{extend name="admin@public/content"}

{block name="content"}
<form autocomplete="off" onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='form-horizontal layui-form padding-top-20'>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            基础运费
        </label>
        <div class='col-sm-8'>
            <input name="basic_freight" required="required" title="请输入基础运费" placeholder="请输入基础运费" value="{:sysconf('basic_freight')}" class="layui-input">
            <p class="help-block">单位：元</p>
        </div>
    </div>

<!--    <div class="form-group">-->
<!--        <label class="col-sm-2 control-label">-->
<!--            基础重量-->
<!--        </label>-->
<!--        <div class='col-sm-8'>-->
<!--            <input name="basic_weight" required="required" title="请输入基础重量" placeholder="请输入基础重量" value="{:sysconf('basic_weight')}" class="layui-input">-->
<!--            <p class="help-block">超出部分讲收取额外运费,单位：Kg</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label class="col-sm-2 control-label">-->
<!--            额外运费-->
<!--        </label>-->
<!--        <div class='col-sm-8'>-->
<!--            <input name="extra_freight" required="required" title="请输入额外运费" placeholder="请输入额外运费" value="{:sysconf('extra_freight')}" class="layui-input">-->
<!--            <p class="help-block">超出部分每Kg额外收取费用，单位：元</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label class="col-sm-2 control-label">-->
<!--            免邮金额-->
<!--        </label>-->
<!--        <div class='col-sm-8'>-->
<!--            <input name="exemption_postage_price" required="required" title="请输入免邮金额" placeholder="请输入免邮金额" value="{:sysconf('exemption_postage_price')}" class="layui-input">-->
<!--            <p class="help-block">订单达到此金额则免除邮费，单位：元</p>-->
<!--        </div>-->
<!--    </div>-->
    <div class="hr-line-dashed"></div>

    <div class="col-sm-4 col-sm-offset-2">
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存配置</button>
        </div>
    </div>

</form>
{/block}