{extend name='admin@public/content'}

{block name="content"}
<form autocomplete="off" onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='form-horizontal layui-form padding-top-20'>
    <legend>基本信息</legend>
    <div class="form-group">
        <label class="col-sm-2 control-label">优惠券名称</label>
        <div class='col-sm-8'>
            <input autofocus name="coupon_name" value='{$vo.coupon_name|default=""}' required="required" title="请输入优惠券名称" placeholder="请输入优惠券名称" class="layui-input">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">发行总量</label>
        <div class='col-sm-8'>
            <input type="number" name="coupon_stock" value='{$vo.coupon_stock|default=""}' required="required" title="请输入发行总量" placeholder="请输入发行总量" class="layui-input">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label label-required" data-coupon-type="1">
            优惠金额
        </label>
        <div class="col-sm-8">
            <input name="coupon_quota" type="number"  value='{$vo.coupon_quota|default=""}' required="required" title="请输入金额" placeholder="请输入金额" class="layui-input">
            <p class="help-block">请输入优惠券金额</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
            使用门槛
        </label>
        <div class="col-sm-8">
            <input name="use_threshold" type="number" value='{$vo.use_threshold|default=""}' required="required" title="请输入使用限制" placeholder="请输入金额" class="layui-input">
            <p class="help-block">填写满多少金额可以使用，不填或填写0为不限制。</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            积分价值
        </label>
        <div class="col-sm-8">
            <input name="integral" type="number" value='{$vo.integral|default=""}' required title="请输入积分数量" placeholder="请输入数量" class="layui-input">
            <p class="help-block">兑换所需积分数量。</p>
        </div>
    </div>
    <legend>基本规则</legend>
    {if isset($levels)}
    <div class="form-group" data-level-limits-type="1">
        <label class="col-sm-2 control-label label-required"></label>
        <div class="col-sm-8">
            {foreach $levels as $level}
            <label class="think-checkbox">
                <!--{if in_array($level['id'],$vo['use_level'])}-->
                <input type="checkbox" checked name="use_level[]" value="{$level.id}" lay-ignore> {$level.level_title}
                <!--{else}-->
                <input type="checkbox" name="use_level[]" value="{$level.id}" lay-ignore> {$level.level_title}
                <!--{/if}-->
            </label>
            {/foreach}
            <p class="help-block">请勾选可以领取和使用此优惠券的等级</p>
            {if empty($levels)}<span class="color-desc" style="line-height:36px">未配置会员等级</span>{/if}
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="col-sm-2 control-label">每人限领</label>
        <div class='col-sm-8'>
            <input type="number" name="use_limit" value='{$vo.use_limit|default=""}' required="required" title="请输入限领张数" placeholder="请输入数量" class="layui-input">
            <p class="help-block">每人限领多少张</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">有效期</label>
        <div class='col-sm-8'>
            <input name="coupon_time" id="coupon_time" required value="{$vo.coupon_time|default=''}" placeholder="请选择有效期" class="layui-input">
            <p class="help-block">在固定日期范围内有效</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label label-required">
            使用范围
        </label>
        <div class="col-sm-8">
            {foreach [1=>'通用',2=>'指定商品分类',4=>'指定商品'] as $k=>$v}<!--,3=>'指定商品品牌'-->
            <label class="think-radio">
                <!--{eq name="k" value="$vo.coupon_auth_type|default='1'"}-->
                <input checked type="radio" name="coupon_auth_type" value="{$k}" title="{$v}" lay-ignore>
                <!--{else}-->
                <input type="radio" name="coupon_auth_type" value="{$k}" title="{$v}" lay-ignore>
                <!--{/eq}-->
                {$v}
            </label>
            {/foreach}
        </div>
    </div>
    <!--{if isset($cates)}-->
    <div class="form-group" data-auth-type="2">
        <label class="col-sm-2 control-label label-required">商品分类</label>
        <div class='col-sm-8 text-top'>
            <!--{if !empty($cates)}-->
            <select required class="layui-select full-width" name="coupon_auth_cate" lay-search>
                {foreach $cates as $cate}
                <!--{if isset($vo.coupon_auth_cate) and $cate.id eq $vo.coupon_auth_cate}-->
                <option selected value="{$cate.id}">{$cate.spl|raw}{$cate.cate_title}</option>
                <!--{else}-->
                <option value="{$cate.id}">{$cate.spl|raw}{$cate.cate_title}</option>
                <!--{/if}-->
                {/foreach}
            </select>
            <!--{else}-->
            <span class="color-desc" style="line-height:36px">未配置商品分类</span>
            <!--{/if}-->
        </div>
    </div>
    <!--{/if}-->
    <!--{if isset($brands)}-->
    <div class="form-group" data-auth-type="3">
        <label class="col-sm-2 control-label label-required">商品品牌</label>
        <div class='col-sm-8'>
            <!--{if !empty($brands)}-->
            <select required class="layui-select full-width" name="coupon_auth_brand" lay-search>
                {foreach $brands as $brand}
                <!--{if isset($vo.coupon_auth_brand) and $brand.id eq $vo.coupon_auth_brand}-->
                <option selected="selected" value="{$brand.id}">{$brand.brand_title}</option>
                <!--{else}-->
                <option value="{$brand.id}">{$brand.brand_title}</option>
                <!--{/if}-->
                {/foreach}
            </select>
            <!--{else}-->
            <span class="color-desc" style="line-height:36px">未配置商品品牌</span>
            <!--{/if}-->
        </div>
    </div>
    <!--{/if}-->
    <!--{if isset($goods)}-->
    <div class="form-group" data-auth-type="4">
        <label class="col-sm-2 control-label label-required">选择商品</label>
        <div class='col-sm-8'>
            <!--{if !empty($goods)}-->
            <select required class="layui-select full-width" name="coupon_auth_goods" lay-search>
                {foreach $goods as $good}
                <!--{if isset($vo.coupon_auth_goods) and $good.id eq $vo.coupon_auth_goods}-->
                <option selected="selected" value="{$good.id}">{$good.goods_title}</option>
                <!--{else}-->
                <option value="{$good.id}">{$good.goods_title}</option>
                <!--{/if}-->
                {/foreach}
            </select>
            <!--{else}-->
            <span class="color-desc" style="line-height:36px">未添加商品</span>
            <!--{/if}-->
        </div>
    </div>
    <!--{/if}-->
    <div class="form-group">
        <label class="col-sm-2 control-label">使用说明</label>
        <div class='col-sm-8'>
            <textarea placeholder="请输入使用说明" title="请输入使用说明" class="layui-textarea" name="coupon_explain">{$vo.coupon_explain|default=""}</textarea>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="col-sm-7 col-sm-offset-2">
        <div class="layui-form-item text-center">
            {if !empty($vo.id)}<input type="hidden" name="id" value="{$vo.id}">{/if}
            <button class="layui-btn" type="submit">保存配置</button>
            <button class="layui-btn layui-btn-danger" type='button' onclick="window.history.back()">取消编辑</button>
        </div>
    </div>

    <script>window.form.render();window.laydate.render({range: true, elem: '#coupon_time'});</script>

    <style>
        .background-item {
            padding: 15px;
            background: #efefef;
        }

        .background-item thead tr {
            background: #e0e0e0
        }
    </style>
</form>
<script>
    (function () {

        <!-- 优惠形式-->
        buildForm("data-coupon-type","{$vo.coupon_type|default='1'}");
        $('[name=coupon_type]').on('click', function () {
            buildForm("data-coupon-type",$('[name=coupon_type]:checked').val())
        });
        <!-- 有效期模式-->
        buildForm("data-time-type","{$vo.time_type|default='1'}");
        $('[name=time_type]').on('click', function () {
            buildForm("data-time-type",$('[name=time_type]:checked').val())
        });
        <!-- 使用范围-->
        buildForm("data-auth-type","{$vo.coupon_auth_type|default='1'}");
        $('[name=coupon_auth_type]').on('click', function () {
            buildForm("data-auth-type",$('[name=coupon_auth_type]:checked').val())
        });
        <!-- 等级限制-->
        buildForm("data-level-limits-type","{$vo.level_limits|default='0'}");
        $('[name=level_limits]').on('click', function () {
            buildForm("data-level-limits-type",$('[name=level_limits]:checked').val())
        });
        // 表单显示编译
        function buildForm(obj,value) {
            let $tips = $("[" + obj + "='" + value + "']");
            $("[" + obj + "]").not($tips.show()).hide();
        }
    })();
</script>
{/block}